.sidebar {
    flex: 1;
    height: calc(100vh - 50px);
    background-color:#FCBAD3;
    position: sticky;
    top: 50px;
}

.sidebarWrapper {
    padding: 20px;
    color: #555;
}

.sidebarMenu {
    margin-bottom: 10px;
}

.sidebarTitle {
    font-size: 15px;
    color:#00ADB5;
    border-radius: 5px;
}

.sidebarList {
    list-style: none;
    padding: 5px;
}

.sidebarListItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.sidebarLink {
    text-decoration: none;
    color: #000;
}

.sidebarListItem.active, .sidebarListItem:hover {
    background-color: rgb(228, 228, 250);
    border-radius: 5px;
}

.sidebarIcon {
    margin-right: 5px;
    font-size: 20px !important;
}